Lucas Bonansea/Proyectos/PlayaInteligente/PlayaInteligenteWeb/packages/
Lucas Bonansea/Proyectos/PlayaInteligente/PlayaInteligenteWeb/.vs/
Lucas Bonansea/Proyectos/PlayaInteligente/PlayaInteligenteWeb/PlayaInteligenteModel/bin/
Lucas Bonansea/Proyectos/PlayaInteligente/PlayaInteligenteWeb/PlayaInteligenteModel/obj/
Lucas Bonansea/Proyectos/PlayaInteligente/PlayaInteligenteWeb/PlayaInteligenteModel/Properties/
Lucas Bonansea/Proyectos/PlayaInteligente/PlayaInteligenteWeb/PlayaInteligenteWeb/packages.config
Lucas Bonansea/Proyectos/PlayaInteligente/PlayaInteligenteWeb/PlayaInteligenteWeb/App_Start/
Lucas Bonansea/Proyectos/PlayaInteligente/PlayaInteligenteWeb/PlayaInteligenteWeb/bin/
Lucas Bonansea/Proyectos/PlayaInteligente/PlayaInteligenteWeb/PlayaInteligenteWeb/obj/
Lucas Bonansea/Proyectos/PlayaInteligente/PlayaInteligenteWeb/PlayaInteligenteWeb/Properties/
Lucas Bonansea/Proyectos/SistemaTurnos/.vs/
Lucas Bonansea/Proyectos/SistemaTurnos/packages/
Lucas Bonansea/Proyectos/SistemaTurnos/SistemaTurnos/bin/
Lucas Bonansea/Proyectos/SistemaTurnos/SistemaTurnos/obj/
Lucas Bonansea/Proyectos/SistemaTurnos/SistemaTurnos/Properties/
Lucas Bonansea/Proyectos/SistemaTurnos/SistemaTurnosWeb.Tests/
Lucas Bonansea/Proyectos/SistemaTurnos/SistemaTurnosWeb/App_Start/
Lucas Bonansea/Proyectos/SistemaTurnos/SistemaTurnosWeb/bin/
Lucas Bonansea/Proyectos/SistemaTurnos/SistemaTurnosWeb/obj/
Lucas Bonansea/Proyectos/SistemaTurnos/SistemaTurnosWeb/Properties/AssemblyInfo.cs
